/* 레이아웃 */
* {margin: 0; padding: 0; box-sizing: border-box;}
body {height: 100vh; width: 100vw; overflow-x:hidden;}

/* scroll */
.scroll {
    position: fixed; right: 10px; top: 10px;   
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(237, 162, 240, 0.5);
    z-index: 10000000;
}

/* fixed */
.fixed {
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

body {
    
}
/* logo-scrollbar */
#logo-scrollbar {}
#logo-scrollbar .logo {
    transform: translate(-45vw,-43.5vh);
}
/* logo-scrollbar_logo */
#logo-scrollbar .logo .logo_title {
    font-family: 'S-CoreDream-8Heavy';
    font-size: 1.8vw;
    color: #3E47FB; 
}
#logo-scrollbar .logo .logo_titlename {
    margin-top: -.2vw;
    margin-left: 4.7vw;
}
#logo-scrollbar .logo .logo_titlename h1 {
    font-family: 'S-CoreDream-4Regular';
    font-size: .2vw; 
    color: #18154C;
}
#logo-scrollbar .logo .logo_titlename h1 strong {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3vw;
    color: #1E1A51;
    margin-left: .3vw;
} 
/* logo-scrollbar_scrollbar */
#logo-scrollbar .scrollbar {
    position: fixed;
    bottom: 2.6vw;
    left: 0;
    right: 0;
    width: 92vw;
    margin: 0 auto;
    height: 0.3vw;
    border-bottom: 0.18vw solid rgba(60, 70, 251, 0.2);
    z-index: 9999;
}
#logo-scrollbar .scrollbar .circle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-scrollbar .scrollbar .circle .circle1 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle2 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle3 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle4 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle5 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle6 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle7 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
/* logo-scrollbar_scrollbar 진행상황 */
#logo-scrollbar .scrollbar .section .section1 {
    bottom: 2.6vw;
    margin: 0 auto;
    height: 1vw;
    border-bottom: 0.18vw solid rgb(60, 70, 251);
    z-index: 10000;
}
#logo-scrollbar .scrollbar .section .section2 {
    bottom: 2.6vw;
    margin: 0 auto;
    height: 1vw;
    border-bottom: 0.18vw solid rgb(60, 70, 251);
    z-index: 10000;
}
#logo-scrollbar .scrollbar .section .section3 {
    bottom: 2.6vw;
    margin: 0 auto;
    height: 1vw;
    border-bottom: 0.18vw solid rgb(60, 70, 251);
    z-index: 10000;
}

/* title */
#title {
    width: 100vw; height: 200vh;
    background: linear-gradient(to left, #EBE0FF, #beb2ff);
}
#title {}
#title .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1vw;
}
#title .title h2 {
    font-size: 10vw;
    background: linear-gradient(90deg, #ff8177, #8437fd );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1001; 
}
#title .title .h2_shadow {
    font-size: 10vw;
    /* text-shadow: 1.5vw 1.5vw 0vw rgba(255,255,255,0.5); */
    color: #fff;
    opacity: 10%;
}
/* title_earth */
#title .earth {    
    display:flex; justify-content:space-around; align-items:center; height:100vh; 
}
#title .earth_box { 
    background: #e4e5ff;
    z-index: 1;
    margin-top: 20vw;
}
#title .earth .earth_left {
    z-index: 2;
}
#title .earth .earth_left svg {
    width: 30vw; height: 30vw;
    margin-top: 35vw; 
    margin-right: 11vw; 
}
#title .earth .earth_right  {
    z-index: 2;
}
#title .earth .earth_right svg {
    width: 24vw; height: 24vw;
    margin-top: 30vw;
    margin-right: 3vw; 
}
#title .earth_broken {
    z-index: 3; 
}

/* title_scroll */
#title .scroll_icon {
    color: #18154C;
    z-index: 50;
    top: 87vh;
}
#title .scroll_icon h3 {
    font-size: 1vw;
    font-family: 'yg-jalnan';
    justify-content: flex-end;
}
#title .scroll_icon .icon {
    z-index: 50;
    margin-top: 1vw;
    animation: scrollicon .75s infinite normal linear;
}
@keyframes scrollicon {
    0% {top: 60%;}
    100% {top: 100%;}
}

/* skill */
#skill {
    width: 100vw; height: 2000vh;
    background: linear-gradient(to left, #EBE0FF, #beb2ff);
}

/* skill_html */
#skill .html .html_left {
    right: -35vw;
    padding-top: 4.5vw;
}
#skill .html .html_left h2 {
    font-family: 'S-CoreDream-9Black';
    font-size: 4.5vw;
    line-height: 2vw;
    color: #18154C;
    padding-bottom: 2.7vw;
}
#skill .html .html_left p {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.3vw;
    color: #3D3970;
    line-height: 2vw;
    padding-bottom: 2vw;
    width: 30vw;
}
#skill .html .html_left .button {
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border: 1vw solid #3C46FB;
    background: #3C46FB;
    display: inline-block;
    width: 11vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    font-size: 1.3vw;
    font-weight: 300;
}
#skill .html .html_right {
   padding-left: 35vw;
   margin-top: -13vw;
}
#skill .html .html_right h3 {
    font-family: 'S-CoreDream-6Bold';
    color: #3D3970;
    font-size: 1vw;
    margin-left: -0.5vw;
}
#skill .html .html_right .line {
    border-left: .2vh solid #3C46FB;
    width: 1vh;
    height: 9vw;
    z-index: 2;
    position: relative;
    margin-left: .29vw;
}
#skill .html .html_right .circle {
    border-radius: 50vw;
    background-color: #3c46fb;
    box-shadow: 0 0 0 5vw rgba(60, 70, 251, 0.2);
    width: .7vw; height: .7vw;
    z-index: -1;
}

/* skill_css */
#skill .css .css_left {
    right: -35vw;
    padding-top: 4.5vw;
}
#skill .css .css_left h2 {
    font-family: 'S-CoreDream-9Black';
    font-size: 4.5vw;
    line-height: 2vw;
    color: #18154C;
    padding-bottom: 2.7vw;
}
#skill .css .css_left p {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.3vw;
    color: #3D3970;
    line-height: 2vw;
    padding-bottom: 2vw;
    width: 30vw;
}
#skill .css .css_left .button {
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border: 1vw solid #3C46FB;
    background: #3C46FB;
    display: inline-block;
    width: 11vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    font-size: 1.3vw;
    font-weight: 300;
}
#skill .css .css_right {
   padding-left: 54vw;
   margin-top: -16vw;
}
#skill .css .css_right h3 {
    font-family: 'S-CoreDream-6Bold';
    color: #3D3970;
    font-size: 1vw;
    margin-left: -0.5vw;
}
#skill .css .css_right .line {
    border-left: .2vh solid #3C46FB;
    width: 1vh;
    height: 3.5vw;
    z-index: 2;
    position: relative;
    margin-left: .2vw;
}
#skill .css .css_right .circle {
    border-radius: 50vw;
    background-color: #3c46fb;
    box-shadow: 0 0 0 2vw rgba(60, 70, 251, 0.2);
    width: .45vw; height: .45vw;
    z-index: -1;
}
/* skill_javascript */
#skill .javascript .javascript_left {
    right: -35vw;
    padding-top: 4.5vw;
}
#skill .javascript .javascript_left h2 {
    font-family: 'S-CoreDream-9Black';
    font-size: 4.5vw;
    line-height: 2vw;
    color: #18154C;
    padding-bottom: 2.7vw;
}
#skill .javascript .javascript_left p {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.3vw;
    color: #3D3970;
    line-height: 2vw;
    padding-bottom: 2vw;
    width: 30vw;
}
#skill .javascript .javascript_left .button {
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border: 1vw solid #3C46FB;
    background: #3C46FB;
    display: inline-block;
    width: 11vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    font-size: 1.3vw;
    font-weight: 300;
}
#skill .javascript .javascript_right {
   padding-left: 20vw;
   margin-top: -5vw;
}
#skill .javascript .javascript_right h3 {
    font-family: 'S-CoreDream-6Bold';
    color: #3D3970;
    font-size: 1vw;
    margin-left: -0.4vw;
}
#skill .javascript .javascript_right .line {
    border-left: .2vh solid #3C46FB;
    width: 1vh;
    height: 9vw;
    z-index: 2;
    position: relative;
    margin-left: .279vw;
}
#skill .javascript .javascript_right .circle {
    border-radius: 50vw;
    background-color: #3c46fb;
    box-shadow: 0 0 0 4.5vw rgba(60, 70, 251, 0.2);
    width: .6vw; height: .6vw;
    z-index: -1;
}
/* skill_react */
#skill .react .react_left {
    right: -35vw;
    padding-top: 4.5vw;
}
#skill .react .react_left h2 {
    font-family: 'S-CoreDream-9Black';
    font-size: 4.5vw;
    line-height: 2vw;
    color: #18154C;
    padding-bottom: 2.7vw;
}
#skill .react .react_left p {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.3vw;
    color: #3D3970;
    line-height: 2vw;
    padding-bottom: 2vw;
    width: 30vw;
}
#skill .react .react_left .button {
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border: 1vw solid #3C46FB;
    background: #3C46FB;
    display: inline-block;
    width: 11vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    font-size: 1.3vw;
    font-weight: 300;
}
#skill .react .react_right {
   padding-left: 50vw;
   margin-top: -8vw;
}
#skill .react .react_right h3 {
    font-family: 'S-CoreDream-6Bold';
    color: #3D3970;
    font-size: 1vw;
    margin-left: -0.3vw;
}
#skill .react .react_right .line {
    border-left: .2vh solid #3C46FB;
    width: 1vh;
    height: 7.9vw;
    z-index: 2;
    position: relative;
    margin-left: .4vw;
}
#skill .react .react_right .circle {
    border-radius: 50vw;
    background-color: #3c46fb;
    box-shadow: 0 0 0 6vw rgba(60, 70, 251, 0.2);
    width: .75vw; height: .75vw;
    z-index: -1;
}
/* skill_php */
#skill .php .php_left {
    right: -35vw;
    padding-top: 4.5vw;
}
#skill .php .php_left h2 {
    font-family: 'S-CoreDream-9Black';
    font-size: 4.5vw;
    line-height: 2vw;
    color: #18154C;
    padding-bottom: 2.7vw;
}
#skill .php .php_left p {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.3vw;
    color: #3D3970;
    line-height: 2vw;
    padding-bottom: 2vw;
    width: 29.5vw;
}
#skill .php .php_left .button {
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border: 1vw solid #3C46FB;
    background: #3C46FB;
    display: inline-block;
    width: 11vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    font-size: 1.3vw;
    font-weight: 300;
}
#skill .php .php_right {
   padding-left: 67vw;
   margin-top: 2vw;
}
#skill .php .php_right h3 {
    font-family: 'S-CoreDream-6Bold';
    color: #3D3970;
    font-size: 1vw;
    margin-left: -0.3vw;
}
#skill .php .php_right .line {
    border-left: .2vh solid #3C46FB;
    width: 1vh;
    height: 6.5vw;
    z-index: 2;
    position: relative;
    margin-left: .28vw;
}
#skill .php .php_right .circle {
    border-radius: 50vw;
    background-color: #3c46fb;
    box-shadow: 0 0 0 4vw rgba(60, 70, 251, 0.2);
    width: .6vw; height: .6vw;
    z-index: -1;
}

/* about */
#about {
    width: 100vw; height: 2500vh;
    background: linear-gradient(to left, #EBE0FF, #beb2ff);
}
/* about_left */
#about .about_left {
    right: -35vw;
    padding-top: 4.5vw;
}
#about .about_left h2 {
    font-family: 'S-CoreDream-9Black';
    font-size: 4.5vw;
    line-height: 2vw;
    color: #18154C;
    padding-bottom: 2.7vw;
}
#about .about_left p {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.3vw;
    color: #3D3970;
    line-height: 2vw;
    padding-bottom: 2vw;
    width: 29.5vw;
}
#about .about_left .button {
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border: 1vw solid #3C46FB;
    background: #3C46FB;
    display: inline-block;
    width: 11vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    font-size: 1.3vw;
    font-weight: 300;
}
/* about_right */
#about .about_right .box {
    height: 4500vh; width: 52vw;
    background: #18154C;
}
#about .about_right .introduce {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 2vw;
    color: #fff;
    white-space: nowrap;
}
#about .about_right .introduce .txt1 {
    left: 73.9vw; margin-top:-27vh;
}
#about .about_right .introduce .txt2 {
    left: 73.9vw; margin-top:-17vh;
}
#about .about_right .introduce .txt3 {
    left: 73.9vw; margin-top:-7vh;
}
#about .about_right .introduce .txt4 {
    left: 73.9vw; margin-top: 3vh;
}
#about .about_right .introduce .txt5 {
    left: 73.9vw; margin-top: 13vh;
}
#about .about_right .introduce .txt6 {
    left: 73.9vw; margin-top: 23vh;
}
#about .about_right .introduce .txt7 {
    left: 73.9vw; margin-top: -1vh;
}

#about .about_right .introduce .txt1 span  {
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about .about_right .introduce .txt2 span {
    background-image: linear-gradient(to right, #f78ca0 0%, #f98f 19%, #fd868c 60%, #fe9a8b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about .about_right .introduce .txt3 span {
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about .about_right .introduce .txt4 span {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about .about_right .introduce .txt5 span {
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* about_crush */
#about .about_right .crush svg {
    width: 25vw; height: 30vw;
    margin-right: 52.6vw;
    margin-bottom: 2vw;
}

#about .about_right .crush .crush_name {
    padding-right: 58vw;
    padding-bottom: 2vw;
    white-space: nowrap;
    color: #3D3970;
    font-size: 1.5vw;
    font-family: 'S-CoreDream-7ExtraBold';
    line-height: 1.2;
}
#about .about_right .crush .crush_name span {
    font-size: 3vw;
    font-family: 'S-CoreDream-9Black';
    padding-left: 3vw;
}
/* about_img */
#about .about_right .aboutimg {
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/3.jpg);
    background-size:cover;
    background-position: 50% 50%;
    width: 50vw;
    height: 100vh;
    margin-left: 25.5vw;
}

/* site */
#site {
    width: 100vw; height: 1000vh;
    background: linear-gradient(to left,  #EBE0FF, #beb2ff);
}
#site .sitebox {
    width: 100vw; height: 100vh;
    background: #F1EFFB;
    z-index: 1001;
}
/* site_webstandard */
#site .webstandard .box {
    background: #D0C8FE;
    z-index: 2;
}
#site .webstandard .box h2 {
    color: #fff;
    font-family: 'S-CoreDream-8Heavy';
    font-size : 4.4vw;
    position: fixed; 
    transform: translate(7vw, 8vw);
    letter-spacing: .1vw;
}
#site .webstandard .box p {
    position: fixed; 
    font-family: 'S-CoreDream-4Regular';
    font-size : 1.2vw;
    color: #3D3970;
    transform: translate(7vw, 14.5vw);
    width: 49%;
    line-height: 1.6;
   
}
#site .webstandard .box .btn {
    position: fixed; 
    transform: translate(7vw, 20vw);
    width: 9.5vw;
    height: 3vw;
    border-radius: 40vw;
    background: #3C46FB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: 1.2vw;
    color: #fff;
    font-weight: 100;
    z-index: 1001;
}
#site .webstandard .box .img img {
    margin-left: 16vw;
    margin-top: 10vw;
    width: auto; height: 53vw;
}
#site .webstandard .code {
    z-index: 1;
}
#site .webstandard .code .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 28.5vw;
}
#site .webstandard .code .btn .btn1 {
    width: 7.2vw; height: 5.3vh;
    border-radius: 3px;
    background: #39455D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 300;
    font-size: 1.2vw;
}
#site .webstandard .code .btn .btn2 {
    margin-left: .5vw;
    width: 7.2vw; height: 5.3vh;
    border-radius: 3px;
    background: #39455D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 300;
    font-size: 1.2vw;
}
#site .webstandard .code .text {
    font-family: 'S-CoreDream-4Regular';
    margin-left: 49vw;
    padding-bottom: 3vh;
    color: #3D3970;
    font-size: 1vw;
    width: 35vw;
    margin-top: 3.3vh;
    line-height: 1.4; 
}
/* site_webstandard code tab-menu */
.webstandard_tap {
    margin-left: 49vw;
    
}
.webstandard_tap ul.tabs{
    float: left;
    height: 5.2vh;
    border: 1px solid #1D2538;
    box-sizing: none;
    
}
.webstandard_tap ul.tabs li{
    float: left;
    width: 11.6vw;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    background-color: #1D2538;
    color: #fff;
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    border: 1px solid #1D2538;
}
.webstandard_tap ul.tabs li.active {
    font-family: 'S-CoreDream-4Regular';
    font-size: 1.1vw;
    background-color: #364159;
    color: orange;
    border-bottom: 1px solid orange;
}
.webstandard_tap .tab_wrap{
    width: 35vw;
    float: left;
    height: 53vh;
    background-color: #364159;
    border-top: none;
    overflow: scroll;
    padding: 10px;
    
}
.wrap .tab_wrap .tab_content{
    padding: 10px;
    display: none;
    font-size: 15px;
    
}