/* 레이아웃 */
* {margin: 0; padding: 0; box-sizing: border-box;}
body {height: 100vh; width: 100vw; overflow-x:hidden;}

/* scroll */
.scroll {
    position: fixed; right: 10px; top: 10px;   
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(237, 162, 240, 0.5);
    z-index: 10000000;
}

/* fixed */
.fixed {
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* logo-scrollbar */
#logo-scrollbar {}
#logo-scrollbar .logo {
    transform: translate(-46vw,-43.5vh);
}
/* logo-scrollbar_logo */
#logo-scrollbar .logo .logo_title {
    font-family: 'S-CoreDream-8Heavy';
    font-size: 1.8vw;
    color: #3E47FB; 
}
#logo-scrollbar .logo .logo_titlename {
    margin-top: -.2vw;
    margin-left: 2.7vw;
}
#logo-scrollbar .logo .logo_titlename h1 {
    font-family: 'S-CoreDream-4Regular';
    font-size: 1.2vw; 
    color: #18154C;
}
#logo-scrollbar .logo .logo_titlename h1 strong {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2vw;
    color: #1E1A51;
    margin-left: .3vw;
} 
/* logo-scrollbar_scrollbar */
#logo-scrollbar .scrollbar {
    position: fixed;
    bottom: 2.6vw;
    left: 0;
    right: 0;
    width: 92vw;
    margin: 0 auto;
    height: 0.3vw;
    border-bottom: 0.18vw solid rgba(60, 70, 251, 0.2);
    z-index: 9999;
}
#logo-scrollbar .scrollbar .circle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-scrollbar .scrollbar .circle .circle1 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle2 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle3 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle4 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle5 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle6 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
#logo-scrollbar .scrollbar .circle .circle7 {
    border-radius: 50%;
    background-color: #3c46fb;
    box-shadow: 0 0 0 0.25rem #ff8177;
    width: .5vw; height: .5vw;
    z-index: 10001;
}
/* logo-scrollbar_scrollbar 진행상황 */
#logo-scrollbar .scrollbar .section .section1 {
    bottom: 2.6vw;
    margin: 0 auto;
    height: 1vw;
    border-bottom: 0.18vw solid rgb(60, 70, 251);
    z-index: 10000;
}
#logo-scrollbar .scrollbar .section .section2 {
    bottom: 2.6vw;
    margin: 0 auto;
    height: 1vw;
    border-bottom: 0.18vw solid rgb(60, 70, 251);
    z-index: 10000;
}

/* title */
#title {
    width: 100vw; height: 200vh;
    background: linear-gradient(to left, #EBE0FF, #D0C8FE);
}
#title {}
#title .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1vw;
}
#title .title h2 {
    font-size: 10vw;
    background: linear-gradient(to bottom, #BB8FF7, #E8A8BE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1001; 
}
#title .title .h2_shadow {
    font-size: 10vw;
    /* text-shadow: 1.5vw 1.5vw 0vw rgba(255,255,255,0.5); */
    color: #fff;
    opacity: 10%;
    padding-right: 2vw;
    padding-bottom: 1vw;
}
/* title_earth */
#title .earth {    
    display:flex; justify-content:space-around; align-items:center; height:100vh; 
}
#title .earth_box { 
    background: #e8e9ff;
    z-index: 1;
    margin-top: 20vw;
}
#title .earth .earth_left {
    z-index: 2;
}
#title .earth .earth_left svg {
    width: 30vw; height: 30vw;
    margin-top: 35vw; 
    margin-right: 11vw; 
}
#title .earth .earth_right  {
    z-index: 2;
}
#title .earth .earth_right svg {
    width: 24vw; height: 24vw;
    margin-top: 30vw;
    margin-right: 3vw; 
}
#title .earth_broken {
    z-index: 3; 
}

/* title_scroll */
#title .scroll_icon {
    color: #18154C;
    z-index: 50;
    top: 87vh;
}
#title .scroll_icon h3 {
    font-size: 1vw;
    font-family: 'yg-jalnan';
    justify-content: flex-end;
}
#title .scroll_icon .icon {
    z-index: 50;
    margin-top: 1vw;
    animation: scrollicon .75s infinite normal linear;
}
@keyframes scrollicon {
    0% {top: 60%;}
    100% {top: 100%;}
}

/* skill */
#skill {
    width: 100vw; height: 2000vh;
    background: linear-gradient(to left, #EBE0FF, #D0C8FE);
}
#skill .html {

}
#skill .html .html_left {

}
#skill .html .html_left h2 {}
#skill .html .html_left p {}
#skill .html .html_left button {}
