@charset "utf-8";
/* 레이아웃 */
#header {width: 100%; height: 63px; border-bottom: 1px solid #C6C6C6; background: rgba(0,0,0,0);}
#banner {position: relative; }
/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0.4);}
/* 로우 영역 */
.row {padding: 0 24px;}
/* 헤더 영역 */
.header {}
.header h1 {float: left;}
.header h1 em {padding: 15px 8px 5px 0; display: inline-block;}
.header h1 em img {width: 155px;}
.header h1 strong {display: block; position: absolute; left: 194px; top: 22px;}
.header h1 strong img {width: 120px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #C6C6C6;}
.header .nav ul li {float: left; width: 103px; text-align: center; border-right: 1px solid #C6C6C6;}
.header .nav ul li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}

/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px;}
.banner_menu a {color: #fff; font-size: 16px; transition: all 0.3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {}
.banner_menu .bm_left li {display: inline;}
.banner_menu .bm_left li.total {}
.banner_menu .bm_left li.total a {font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all 0.3s;}
.banner_menu .bm_left li.total a:hover {background: #fff; border-color: #000; color: #000;}
.banner_menu .bm_right {float: right;}
.banner_menu .bm_right ul {}
.banner_menu .bm_right li {display: inline;}

